@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #c7e6fc;
}
.wrapper{
    width:65vmin;
    height: 70vmin;
    overflow: hidden;
    flex-direction: column;
    border-radius: 6px;
    display: flex;
    background: #3a4250;
}
.game-details{
    color:#96daf3;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}
.play-board{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: repeat(30,1fr)/repeat(30,1fr);
    background: #1b222e;
}
.play-board .food{
    background-color: yellow;
}
.play-board .head{
    background-color:#96daf3;
    box-shadow: 2px 0 8px white;

}
.control {
      display: flex;
  }
.control i {
    padding: 18px 0;
    text-align: center;
    font-size: 0.8rem;
    color: #B8C6DC;
    width: calc(100% / 4);
    cursor: pointer;
    border-right: 0.5px solid #96daf3;
}
@media screen and (max-width: 800px) {
    .wrapper {
      width: 90vmin;
      height: 115vmin;
    }
    .game-details {
      font-size: 1rem;
      padding: 15px 27px;
    }
    .control {
      display: flex;
    }
    .control i {
      padding: 15px 0;
      font-size: 1rem;
    }
  }